<div class="blog-header">
    <h1 class="blog-title">My blog posts</h1>
</div>
<%= link_to 'New post', new_post_url %>

<div class="row">

    <%= posts_listing_items @posts %>
    <%= render 'layouts/about' %>

</div>
