 <div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
        	<a class="blog-nav-item" href="/">Home</a>
          	<a class="blog-nav-item" href="/posts/new">New post</a>
          	<a class="blog-nav-item pull-right" href="#">Sign up</a>
          	<a class="blog-nav-item pull-right" href="#">Sign in</a>
        </nav>
    </div>
 </div>